body,html,.whole-div{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px
}
body{
     background: radial-gradient(circle, #fff,#e7cfa9,#fbd399,#fff)
}
.whole-div{
    position:relative;
    overflow:hidden;
    display:flex
}
.boardback{
	height:500px;
	width:500px;
	margin:auto;
	border:1px solid black;
	background-image: url("../Images/boabac.jpg");
	background-size: cover;
	display:flex
}
.boradinrdiv{
	width: 95%;
	margin:auto;
	height:95%;
	background-image:url("../Images/sanbac.jpg");
	background-size:cover
}
.inrdiv{
    height:100%;
    width:100%
}
.gete{
	height: 58.39px;
    width: 58.3px;
    background: transparent;
    float: left;
    border-right:1px solid #4e1f01;
    border-bottom:1px solid #4e1f01;
    cursor:pointer
}
.one{
    margin:0px;
    height:100%;
    width:100%
}
.coin,.coin1{
   	height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    background: linear-gradient(0deg,#e6cca3,#fff);
    box-shadow: 0px 0px 5px #e6cca3;
    cursor: pointer;
    position: relative;
    border: 0;
    margin: 5px
}
.coin::after,.coin1::after{
    content:"";
   	height: 22.5px;
    width: 22.5px;
    background: linear-gradient(0deg,#fff,#e6cca3);
    border-radius: 50%;
    position:absolute;
    top:11.5px;
    left:11.3px
}
.coin1{
    background: linear-gradient(0deg,#7a3c1a,rgba(255, 255, 255, 0.27));
    box-shadow: 0px 0px 5px #7a3c1a
}
.coin1::after{
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.23),#7a3c1a);
    top: 10.5px
}
#setdiv {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -48px;
    left: -37px;
    background-color: #fff;
    box-shadow: 1px 1px 155px #C3925A inset;
    cursor:pointer
}
#setdiv img{
    width: 45%;
    padding-left: 40px;
    transform: rotate(30deg)
}
#setshwdiv{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -87px;
    left: -76px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    box-shadow: 1px 1px 155px #C3925A inset;
    opacity: 0;
    border: 1px solid #C3925A
}
.hlpimg,.soundimg,.homeimg{
    height: 35px;
    margin: 11px 0 0 86px;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(21, 1, 1, 0.59);
    border-radius: 50%
}
.hlpimg{
    margin: -17px 0 0 133px
}
.homeimg{
    margin: 3px 0 0 155px
}
/*-------------------------------------------------TIME DIV------------------------------------------*/
.oth,.time,.pla {
    position: absolute;
    color: #550403;
    text-shadow: 2px 2px #9d51314a;
    font:bold 35px 'Barlow Semi Condensed', sans-serif
}
.time {
    height: 55px;
    left: 60px;
    top: 100px;
    text-align: center;
}
.it,.pla {
    font-size: 15px;
    padding-left: 10px
}
.oth {
    left: 43%
}
 /*-----------------------------------------------PLAYERS STATUS DIV---------------------------------*/
 .play-sta {
    position: absolute;
    top: 200px;
    left: 100px
 }
 .play-sta>div {
     width:100%;
     display:flex
 }
 .prf {
     width:70px;
     height:70px;
     border-radius:50%;
     background:#fff;
 }
 .pla {
    font-size:18px;
    margin-top:8px
 }
 .play {
    margin-top: 34px;
    color: firebrick;
    font-family: cursive
 }
 .colo {
     color:#f6ecde
 }
 .top {
     margin-top:20px
 }
 /*----------------------------------------------SCORE DIV------------------------------------------*/
 .scor {
     left:72%
 }
 .int {
    font:bold 30px cursive;
    padding: 18px 18px 0;
 }
 .pad {
     padding-left:5px
 }
 .ale {
    width: 600px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 30%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition:0.5s;
    visibility:hidden;
 }
 /*-----------------------------------Responsive Part------------------------------------------*/
 @media screen and (min-width:350px) and (max-width:1220px){
.oth {
         margin:10px 0 0
}
.int,.oth {
    font-size:24px
}
.play-sta {
    top:160px;
    left:5px
}
.scor {
    left:80%
}
.pla {
    font-size:15px
}
.pa {
    padding-top:10px
}
.time {
    top:10px;
    left:30px
}

 }
 @media screen and (min-width:300px) and (max-width:830px){
.boardback {
    width:400px;
    height:400px
}
.gete {
    height:46.39px;
    width:41.3px
}
.coin,.coin1 {
    height: 35px;
    width: 35px
}
.coin::after, .coin1::after {
    height: 15.5px;
    width: 15.5px;
    top: 8.5px;
    left: 10.3px
}.oth {
    margin-top:4px;
    left:37%
}
.time {
    top:1px;
    left:4px;
    font-size:22px;
    height:25px
}
.play-sta,.it {
   display:none
}
.play-sta>div {
    width:25%;
    float:left
}
.top {
    margin:0
}
.scor {
      top: 35px;
    left: 37px;
    display: block;
    width: 636px
}
.boardback {
    margin-top:94px
}
.colo {
    color:#000
}
}