.who{
    width:650px;
    height: 480px;
    display:none;
    transition:1s;
    position:absolute;
    top:10%;
    left:28%;
    background-image: url("../Images/pap.png");
    background-size: cover
}
.main{
    height:332px;
    width:460px;
    margin:auto;
    text-align:left;
    color:white;
}
.main>h1 {
    color:floralwhite
}
h1{
    margin:0px;
    text-align: center;
    font-family: 'Macondo Swash Caps', cursive;
    color: #88400f
}
a{
    text-decoration:none
}
h4{
    font:bold 17px cursive;
    margin: 16px 0 0
}
.main>img {
    margin: -1px -15px 0 0
}