body,html {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
p,h1{
    margin:0px;
    padding:0px
}
.whole {
    width:100%;
    height:100%;
    display:flex;
    overflow-y: auto;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwDBqjXnAWfFjk9aKFtJT12ZseEH0UZatw89bptquiyHbnkLdz");
    background-size:cover
}
.whole > div:nth-child(1) {
    width:80%;
    height:620px;
    background: rgba(154, 73, 24, 0.44);
    margin: auto;
    box-shadow: 1px 1px 14px 4px #89410d
 }
header{
    height:100px;
    width:100%;
    border-bottom:1px solid rgba(255, 255, 255, 0.29);
    box-sizing:border-box
}
header > img:first-child{
    height: 80px;
    float: left;
    padding: 10px 20px 0 29px
}
.ctrdiv{
    height:100%;
    width:75%;
    float:left;
    text-align:center;
    color:white;
}
.ctrdiv p{
    font-family:cursive;
    padding-top:10px
}
.ctrdiv h1{
    font-family:'Macondo Swash Caps', cursive;
    padding:10px
}
.lstdiv{
    height: 100%;
    width: 10%;
    color: white;
    float: left;
    font-family:cursive;
}
.lstdiv h1{
    font-size:30px;
    padding-top:10px
}
.lstdiv p{
    padding-top:10px
}
.whldiv{
    height:calc(100% - 100px);
    width:100%
}
.frstdiv{
    height:100%;
    width:300px;
    padding-top: 2px;
    box-sizing: border-box;
    border-right:1px solid rgba(255, 255, 255, 0.29);
    float:left
}
.frstdiv>p {
    font: 20px cursive;
    text-align: center;
    border-bottom: 1px dotted rgba(221, 221, 221, 0.28);
    padding-bottom: 3px;
    color: #ddd
}
.frstdiv>div {
    width:100%;
    height:60px;
    display:flex;
    padding:5px 0 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(221, 221, 221, 0.12)
}
.snddiv,.snddiv>div{
    height:100%;
    width:calc(100% - 300px);
    float:left;
}
.snddiv>div{
    width:100%;
}
.snddiv>div>p {
    width: 85%;
    float: left;
    font:30px 'Macondo Swash Caps', cursive;
    color:#fff;
    padding-top:5px;
    text-align:center
}
.snddiv>div>p+button {
    border: none;
    outline: none;
    background: #fff;
    width: 100px;
    height: 30px;
    cursor:pointer;
    border-radius: 4px;
    font:bold 18px 'Macondo Swash Caps', cursive;
    color: #994D13;
    margin-top: 10px
}
.frstdiv>div>div {
    width:45px;
    height:45px;
    border-radius:50%;
    background:#ddd
}
.frstdiv>div>div+p {
    font: 18px monospace;
    padding: 15px;
    color: blanchedalmond
}
/*-----------------------------------------------DI DIV--------------------------------------------------*/
#di {
    width:100%;
    height:88.5%;
    margin-top:20px
 }
  #di >div>div {
     width:100%;
     height:160px
  }
#di >div, #di >div>div>div, #di >div>#cir>div>div{
     width:50%;
     height:100%;
     position:relative
}
 #di ,#di >div>div>div, #di >div>div  {
     display:flex
 }
 #di >div>div>div>div>div,#se-ci>div,#di>div>div:nth-child(2)>div>div,#di>div>div:nth-child(3)>div{
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url(https://pbs.twimg.com/profile_images/458483874071191552/wwgNWH0j.jpeg);
    background-size: cover
}
#di >div>div>div>div>div:after,
#di >div>div>div:after,
#di>div>div:nth-child(2)>div>div:after,
#di>div>div:nth-child(2):after {
    content: "";
    width: 2px;
    height: 55px;
    background: white;
    position: absolute;
    top: 46.9%;
    left: 50%
}
#di>div>div:nth-child(2)>div>div:after {
    top: 47%;
    height: 35px
}
#di>div>div:nth-child(2):after {
    top:58.3%;
    height:40px
}
 #di >div>div>div:before,#di>div>div:nth-child(2):before{
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 80%;
    left: 25%
}
#di>div>div:nth-child(2):before {
    top:58.3%;
}
#di >div>div>div:after{
     top: 81%
}
#di>div>div:nth-child(2)>div {
    width:50%;
    height:100%;
}
#di>div>div:nth-child(3) {
    height:100px;
    margin-top:-3%
} 
#di>div>div:nth-child(2)>div:after,
#di>div>div:nth-child(2)>div:before,
#di>div>div:nth-child(3)>div:before,
#di>div>div:nth-child(3)>div:after{
    content:none;
}
/*-------------------------------------------------------------ABSOLUTE DIV----------------------------------------------------------------*/ 
.whole>div:nth-child(2) {
    position: absolute;
    width: 230px;
    height: 250px;
    left: 45%;
    background: #eee
}
.whole>div:nth-child(2) >div {
    width:100%;
    height:100px;
    background:#7E3C11;
    position:relative
}
.name {
    text-align: center;
    color: white;
    font-family: 'Macondo Swash Caps', cursive;
    padding-top: 30px
}
.pro-abs {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 66%;
    left: 34%
}
.tot,tr th {
    color: #000;
    font:bold 18px  'Macondo Swash Caps', cursive;
    padding-top: 48px
}
tr th {
    padding-top:0px
}